@import '~bootstrap/scss/bootstrap';


html {
  background-image: url('../../public/images/shutterstock_1101884330.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-size: cover;
  background-size: cover;
  background-position-X: 0vw;
  background-position-Y: 15vh;
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay-Regular'), url(./fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}
h1 {
   font-size: 600%;
   font-family: 'PlayfairDisplay-Bold';
   src: local('PlayfairDisplay-Bold'), url(./fonts/PlayfairDisplay-Bold.ttf) format('truetype');
}
h2{
  font-size: 300%;
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay-Regular'), url(./fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}
h3{
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay-Regular'), url(./fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}
h5{
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay-Regular'), url(./fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}
h4{
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay-Regular'), url(./fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}
// body{
//   background-image: url('/images/shutterstock_1101884330.jpg');
// }
